PORT=3001
SUPABASE_URL=https://fznhvuyplojsvcodxfkk.supabase.co
SUPABASE_ANON_KEY=sb_publishable_8kuEfbZU64XFihkNdDI7gQ_jpRHGc6e
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=text-embedding-004
GEMINI_GENERATION_MODEL=gemini-1.5-flash
